body {
    /* margin: auto; */
    font-family: 'Philosopher', sans-serif;
    background: linear-gradient(180deg, #00A7A3 0%, #008582 14.06%, #001B61 100%);
    background-repeat: no-repeat;
    height: 100vh;
    color: #EDD084;

}

#decorations {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#decorations #empty {
    width: 35%;
}

main {
    width: 100vw;
    text-align: center;
    /* margin: auto; */
    position: absolute;
    top: 0;
}

h1 {
    font-weight: 700;
    font-size: 3.5em;
    text-shadow: 1px 1px 10px #008582;
}

#img_container {
    height: 225px;
    margin: auto;
    display: flex;
    justify-content: center;
}

#dessert_img {
    max-width: 450px;
}

p {
    font-size: 1.25em;
}

#description {
    font-size: 1.75em;
}

#time {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 1.75em;
}

#timeline {
    padding-top: 50px;
}

#line {
    position: relative;
    height: 5px;
    width: 75%;
    background: #EDD084;
    border-radius: 5px;
    margin: auto; 
}

#line .filled_dot {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #EDD084;
    border-radius: 50%;
    top: -8px;
}

#point1 {
    left: -1%;
}

#point2 {
    left: 33%;
}

#point3 {
    left: 66%;
}

#point4 {
    left: 99%;
}

#line .empty_dot {
    position: absolute;
    height: 15px;
    width: 15px;
    background: #001B61;
    border-radius: 50%;
    border: 2px solid #EDD084;
    top: -6px;
}

#line .empty_dot:hover {
    background: #EDD084;
    cursor: pointer;
}

#data1 {
    left: 21%;
}

#data2 {
    left: 25%;
}

#data3 {
    left: 34.2%; 
    /* accurate value 33.6 */
}

#data4 {
    left: 35.6%;
    /* accurate value 34 */
}

#data5 {
    left: 55%;
}

#data6 {
    left: 60%;
    /* accurate value 62.15 */
}

#data7 {
    left: 61%;
    /* accurate value 62.5 */
}

#data8 {
    left: 61.8%;
    /* accurate value 62.8 */
}

#data9 {
    left: 62.6%;
    /* accurate value 63.3 */
}

#data10 {
    left: 64.7%;
    /* accurate value 65.6 */
}

#data11 {
    left: 68.75%;
}

#data12 {
    left: 83%;
}

#data13 {
    left: 87%;
}

#data14 {
    left: 91.3%;
}

#labels {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-around;
    color: #EDD084;
}