body {
    /* margin: auto; */
    font-family: 'Philosopher', sans-serif;
    background: linear-gradient(180deg, #008582 3.65%, #001B61 100%);
    background-repeat: no-repeat;
    height: 100vh;
    color: #EDD084;

}

#decorations {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#decorations div {
    width: 35%;
}

main {
    width: 100vw;
    text-align: center;
    /* margin: auto; */
    position: absolute;
    top: 0;
}

h1 {
    font-weight: 700;
    font-size: 3.5em;
    /* text-shadow: -2px 2px 10px #EDD084; */
    /* text-shadow: 0px 0px 10px black; */
    /* color: #001752; */
}

p {
    font-size: 1.25em;
}

#time {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 1.75em;
}

#timeline {
    padding-top: 50px;
}

#line {
    position: relative;
    height: 5px;
    width: 75%;
    background: #EDD084;
    border-radius: 5px;
    margin: auto; 
}

#line .filled_dot {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #EDD084;
    border-radius: 50%;
    top: -8px;
}

#point1 {
    left: -1%;
}

#point2 {
    left: 33%;
}

#point3 {
    left: 66%;
}

#point4 {
    left: 99%;
}

#labels {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-around;
    color: #EDD084;
}