* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #86D2FD 0%, #104DA9 100%);
    background-repeat: no-repeat;
    color: rgb(235, 235, 235);
    transition: all 2s;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

body.switch {
    background: linear-gradient(180deg, #93DFC8 0%, #003C2D 100%);
    background-repeat: no-repeat;
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 0 auto;
}

#banner {
    position: relative;
    /* display: flex; */
    width: 735px;
    height: 130px;
    margin: auto;
    /* background-color: rgb(235, 235, 235); */
    color: #333;
    overflow: hidden;
    display: grid;
	place-items: center;
}

#banner.switch {
    background-color: #333;
    color: rgb(235, 235, 235);
    transition: all 2s;
}

#egg_banner, #coffee_banner {
    width: 80%;
}

.flex_banner {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}


main {
    margin: auto;
    width: 1200px;
    position: relative;
}

main section {
    /* width: 25%;
    height: 25%; */
    background: #FAFAFA;
    background-image: url("images/egg_top.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    /* border: 1px rgb(235, 235, 235) dashed; */
    border-radius: 50%;
    margin: 0 .25em;
    padding: 1em;
    position: absolute;
}

main section.switch {
    background-image: url("images/coffee_top.png");
}

#ministudios {
    width: 190px;
    height: 190px;
    left: 14px;
    top: 8px;
}

#toolkit {
    width: 235px;
    height: 235px;
    left: 120px;
    top: 176px;
}

#research {
    width: 272px;
    height: 272px;
    left: 338px;
    top: 20px;
}

#development {
    width: 435px;
    height: 435px;
    left: 618px;
    top: -15px;
}

#capstone {
    width: 148px;
    height: 148px;
    left: 1033px;
    top: 8px;
}

h1, h2, h3 {
    font-family: 'Kalam', cursive;
    text-align: center;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 64px;
    margin-top: 8px;
    margin-bottom: 0;
}

h2 {
    font-weight: 400;
    font-size: 36px;
    margin-top: 2px;
}

h3 {
    color: #333;
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 24px;
}

a {
    text-decoration: none;
}

ol,
ul {
    font-size: 16px;
    line-height: 100%;
    list-style-type: none;
    margin-left: 0;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

section a {
    line-height: 1em;
    display: inline-block;
    padding: .45em;
    color: #ecbe49;;
}

section a:hover {
    background-color: #F5D071;;
    color: #333;
}

section.switch a {
    color: #A993D7;
}

section.switch a:hover {
    background-color: #A993D7;
    color: #333;
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: #F5D071;
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    background-color: #FAFAFA;
    color: #F5D071;
    border-color: #F5D071;
    cursor: pointer;
}

button.switch {
    background-color: #A993D7;
    border-color: #333;
}

button.switch:hover {
    background-color: #333;
    color: #A993D7;
}

.showing {
    visibility: visible;
}

.hidden {
    display: none;
}

.shake:hover {
    animation-name: shake;
    animation-duration: 0.8s;
    animation-iteration-count:   infinite;
}

@keyframes shake {
    0% {
      transform: none;
    }
  
    15% {
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
  
    30% {
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
  
    45% {
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
  
    60% {
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
  
    75% {
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
  
    100% {
      transform: none;
    }
  }