body {
    font-family: 'Pangolin', cursive;
    /* box-sizing: border-box; */
    overflow-x: hidden;
}

p {
    font-size: 18px;
}

.intro {
    position: absolute;
    width: 65%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
    background-color: white;
    border: solid black;
    border-radius: 12px;
    padding: 1%;
    display: flex;
    justify-content: center;
    /* box-sizing: border-box; */
}

.intro_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;  /* same size as parent box */
}

.intro_content img {
    align-self: center;
}

.intro_content p {
    max-width: 70%;
}

#user_test ol {
    text-align: left;
}

/* showing and hiding elements */
.showing{
    display: block;
}

.hidden {
    display: none;
}


/* PARALLAX STYLING */
#viewport {
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
    overflow: hidden;
    /* position: relative; */
}

#fullview {
    height: 100vh;
    width: 900vw;
    background-color: rgb(169, 223, 236);
    /* position: relative; */
}

.section {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#bike {
    position: sticky;
    bottom: 0;
    transform: translate(-50%, 0);
    left: 50%;
}

#intro {
    text-align: center;
    margin-top: 20%;
}


button, #submit {
    background-color: black; 
    border: solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.back {
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    background-position: center;
    color: black;
    font-weight: bold;
    background: none;
    float: left;
}

.exit {
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-position: center;
    float: right;
}

.note {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    width: 118px;
    height: 109px;
    padding-top: 10px;
    background: url(images/home.png) no-repeat;
    background-position: center;
    font-size: 18px;
    text-align: center;
    display: grid; 
    place-content: center;
}

#seal_button {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 114px;
    height: 114px;
    background: url(images/seal_button.png) no-repeat;
    background-position: center;
    font-size: 18px;
    text-align: center;
    display: grid; 
    place-content: center;
}


#screen1 {
    background-color: rgb(160, 195, 160);
    left: 100vw;
}

#screen2 {
    background-color: rgb(179, 186, 186);
    left: 200vw;
}

#screen3 {
    background-color: rgb(120, 194, 231);
    left: 300vw;
}

#screen4 {
    background-color: rgb(145, 145, 145);
    left: 400vw;
}

#screen5 {
    background-image: url('images/ground.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 45%;
    background-color: rgb(149, 210, 235);
    left: 500vw;
}

#screen6 {
    background-image: url('images/doxie_sign.png');
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgb(150, 138, 163);
    left: 600vw;
}

#screen7 {
    background-image: url('images/graduate_front.png'), url('images/graduate_mid.png'), url('images/graduate_back.png');
    background-repeat: repeat-x;
    background-position: bottom, center 85%, center 70%;
    background-color: rgb(108, 137, 195);
    left: 700vw;
}
#screen8 {
    background-color: rgb(169, 223, 236);
    left: 800vw;
}

#start_over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}



.item {
    position: absolute;
}

/* values are END positions (start value in JS */
#dorm {
    width: 110%;
    top: 8%;
    right: 0;
}

#turkey {
    bottom: 28%;
    left: 100%;
}

#tercero {
    width: 130%;
    position: absolute;
    bottom: 0;
    right: 0;
}

#mrak {
    filter: blur(5px);
    width: 110%;
    position: absolute;
    top: 0;
    right: 0;
}

#egghead {
    top: 4%;
    right: 45%;
}

#unitrans {
    bottom: 10%;
    left: 100%;
}

#arb {
    width: 108%;
    position: absolute;
    bottom: -5%;
    right: 0;
}

#squirrel {
    bottom: 30%;
    right: 110%;
}

#duck {
    bottom: 30%;
    right: 72%;
}

#duckling1 {
    bottom: 30%;
    right: 65%;
}

#duckling2 {
    bottom: 30%;
    right: 60%;
}

#hay {
    width: 110%;
    position: absolute;
    bottom: 50%;
    right: 0;
}

#cow {
    bottom: 60%;
    right: 70%;
}

#fence {
    width: 110%;
    position: absolute;
    bottom: 57%;
    right: 0;
}

#tractor {
    bottom: 20%;
    left: 100%;
}

#farmers_market {
    width: 82%;
    top: 2%;
    left: 0;
}

#doxie1 {
    bottom: 40%;
    right: -10%;
}

#doxie2 {
    bottom: 34%;
    right: -10%;
}

#grad1 {
    bottom: 90%;
    right: 40%;
}

#grad2 {
    bottom: 90%;
    right: 10%;
}

#grad3 {
    bottom: 90%;
    right: 80%;
}


/* FORM STYLING */
#form_screen {
    position: absolute;
    top: 0;
    padding-top: 2%;
    text-align: center;
    background-color: rgb(244, 235, 224);
    width: 100vw;
    height: 100vh;
}

#form_box {
    box-sizing: border-box;
    width: 60%;
    border: solid black;
    border-radius: 12px;
    padding: 1% 7%;
    transform: translate(-50%, 0);
    margin-left: 50%;
    background-color: white;
}

#form_box p{
    text-align: left;
}

#form_inputs {
    text-align: left;
    padding: 1% 0;
    line-height: 1.5em;
}

#form_inputs label{
    font-size: 18px;
}

#form_inputs input[type=text]{
    width: 100%;
}

#form_inputs textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    resize: none;
}

#form_inputs p {
    margin: 0;
}

.input_area {
    margin-top: 0.75em;
}

#skip {
    color: black;
    background-color: white;
    border: solid black;
}

/* DATA DISPLAY STYLING */
.journey_btn {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    width: 177px;
    height: 106px;
    background: url(images/journey.png) no-repeat;
    background-position: center;
    font-size: 18px;
    text-align: center;
    display: grid; 
    place-content: center;
}

#notes_display {
    position: absolute;
    top: 0;
    padding-top: 2%;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(244, 235, 224);
}

#notes_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    /* place-items: center; */
    justify-content: center;
}

.user_note {
    background-image:url('images/note.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 330px;
    height: 185px;
    padding: 15px 15px;
    text-align: left;
    box-sizing:border-box;
    overflow: auto;
}

.user_note .status, .user_note .year {
    line-height: 0.5em;
    font-size: 14px;
    padding-left: 12px;
}


footer {
    position: sticky;
    bottom: 0;
}

footer p {
    margin: 0;
}