body {
    font-family: 'Quicksand', sans-serif;
    margin: 3% 22%;
    line-height: 1.5em;
    font-size: 18px;
}

h1, h2 {
    font-family: 'Gloock', serif;
}

h1 {
    font-size: 48px;
    line-height: 1.2em;
}

h2 {
    font-size: 32px;
    margin-bottom: 15px;
    text-transform: lowercase;
}

section {
    margin: 25px 0;
}

#imgs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}