body {
    font-family: 'Pangolin', cursive;
}

.intro {
    position: absolute;
    width: 60%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
    background-color: white;
    border: solid black;
    border-radius: 12px;
    padding: 1%;
    /* box-sizing: border-box; */
}

.placeholder {
    background-color: gray;
}

#seal {
    height: 150px;
    width: 150px;
    border-radius: 200px;
}

#location {
    height: 120px;
    width: 200px;
}

#slice {
    height: 120px;
    width: 75px;
}

#user_test ol {
    text-align: left;
}

/* showing and hiding elements */
.showing{
    display: block;
}

.hidden {
    display: none;
}


/* PARALLAX STYLING */
#viewport {
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
    overflow: hidden;
    /* position: relative; */
}

#fullview {
    height: 100vh;
    width: 900vw;
    background-color: blanchedalmond;
    /* position: relative; */
}

.section {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#bike {
    position: sticky;
    bottom: 1%;
    transform: translate(-50%, 0);
    left: 50%;
}

#intro {
    text-align: center;
    margin-top: 20%;
}

#submit {
    all: unset;
}

button {
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.exit {
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-position: center;
    float: right;
}

#note {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    width: 118px;
    height: 109px;
    background: url(images/home.png) no-repeat;
    background-position: center;
}

#screen1 {
    background-color: rgb(137, 162, 137);
    left: 100vw;
}

#screen2 {
    background-color: rgb(123, 159, 160);
    left: 200vw;
}

#screen3 {
    background-color: rgb(123, 135, 160);
    left: 300vw;
}

#screen4 {
    background-color: rgb(123, 125, 160);
    left: 400vw;
}

#screen5 {
    background-color: rgb(146, 123, 160);
    left: 500vw;
}

#screen6 {
    background-color: rgb(160, 123, 157);
    left: 600vw;
}

#screen7 {
    background-color: rgb(160, 123, 152);
    left: 700vw;
}
#screen8 {
    background-color: rgb(160, 123, 123);
    left: 800vw;
}

#start_over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.item {
    position: absolute;
}

/* values are END positions (start value in JS */
#dorm {
    top: 15%;
    right: 90%;
}

#turkey {
    bottom: 15%;
    left: 100%;
}

#egghead {
    top: 1%;
    right: 100%;
}

#unitrans {
    bottom: 10%;
    left: 100%;
}

#squirrel {
    bottom: 30%;
    right: 110%;
}

#duck {
    bottom: 30%;
    right: 72%;
}

#duckling1 {
    bottom: 30%;
    right: 65%;
}

#duckling2 {
    bottom: 30%;
    right: 60%;
}

#cow {
    bottom: 60%;
    right: 70%;
}

#tractor {
    bottom: 20%;
    left: 100%;
}

#farmers_market {
    top: 10%;
    right: 90%;
}

#doxie {
    bottom: 40%;
    right: -10%;
}

#grad {
    bottom: 90%;
    right: 50%;
}


/* FORM STYLING */
#form_screen {
    position: absolute;
    top: 0;
    padding-top: 2%;
    padding-left: 5%;
}

#notes_display {
    position: absolute;
    top: 0;
    padding-top: 2%;
    padding-left: 5%;
}

.user_note {
    background-color:antiquewhite;
}


footer {
    position: sticky;
    bottom: 0;
}

footer p {
    margin: 0;
}